// Place all the styles related to the Movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.movie{

	.movie-title{
		height: 60px;
		overflow: hidden;
		text-align: center;
	}

	.movie-poster{
		height: 180px;
		overflow: hidden;
		cursor: pointer;
	}
}

.movie.active{
	color:orange;
	font-weight:bold;
}

.fanart-header {
	height: 300px;
	display: block;
	position: relative;
	border: 2px inset #141E28;
	margin: 0 auto;

	.poster{
		margin-top:20%;
	}

	.quicklinks{
		margin-right:1em;
	}

}

.fanart-header:after {
  background-size:100%;
  background-repeat: no-repeat;
  opacity: 0.25;
  height: 300px;
  width:100%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: -1;
  content: "";
}

.movie-info {
    left: 166px;

    .label-info a{
    	color: 				white;
    }
}

.nav.ticket-menu  li {
    display: inline-block;
}

.nav-tabs.ticket-menu li{
	float: none;
} 

.ticket-menu{
	text-align: 			center;
	list-style: 			none;
}

.ticket-menu li{
	margin: 0 1em;
	list-style: none;
	display: inline-block;
}

.ticket-menu-item
{
	background:             url('MovieMenu.png') top; /*Menu Sprite - bunch of images stored as one image*/
	cursor: 				pointer;
	display:                inline-block;
	float:                  left;
	height:                 52px;
	width:                  123px;
}

.ticket-menu-item:focus  {  outline:none;  }

.ticket-menu-item.similar{background-position:0px 0px;} /*Adjusting which part of menu sprite|image to show 124x53*/
.ticket-menu-item.similar:hover,.ticket-menu-item.similar:focus{background-position:0px 105px;}
.active .ticket-menu-item.similar{background-position:0px 52px;}

.ticket-menu-item.rotten-tomatoes{background-position:-124px 0;}
 .ticket-menu-item.rotten-tomatoes:hover
,.ticket-menu-item.rotten-tomatoes:focus{background-position:-124px 105px;}
.active .ticket-menu-item.rotten-tomatoes{background-position:-124px 52px;}

.ticket-menu-item.reddit{background-position:-248px 0;}
 .ticket-menu-item.reddit:hover
,.ticket-menu-item.reddit:focus{background-position:-248px 105px;}
.active .ticket-menu-item.reddit{background-position:-248px 52px;}

.ticket-menu-item.cinema{background-position:-372px 0;}
 .ticket-menu-item.cinema:hover
,.ticket-menu-item.cinema:focus{background-position:-372px 105px;}
.active .ticket-menu-item.cinema{background-position:-372px 52px;}

.ticket-menu-item.trakt{background-position:-496px 0;}
 .ticket-menu-item.trakt:hover
,.ticket-menu-item.trakt:focus{background-position:-496px 105px;}
.active .ticket-menu-item.trakt{background-position:-496px 52px;}

.related-movie{
	border-radius: 10px;
    margin: 0.7em 0;
    overflow: hidden;
    padding: 0.2em;	
    height:125px;
}

.clear {
  clear: both;
  content: '';
  display: block; 
}

article.post {
    border-bottom: 1px dotted rgba(180, 180,   180, 1);
    margin-bottom: 10px;
    padding: 0 0 0 110px;
    &:last-of-type {
      border-bottom: 0;
      padding-bottom: 0;
    }
    &:after {
       @extend .clear; 
    }
    img {
      float: left;
      margin-left: -110px;
      width: 100px;
    }
    h1 {
      font-size: 20px;
      font-weight: normal;
      margin:0;            
    }
    a {
      color:rgb(220,78,0);
      text-decoration: none;
    }
    time {
      font-size: 11px;
      font-weight: bold; 
    }
}

.comments{
  margin-top:0.8em;
}


.rotten-tomatoes-review{
  
  .main-header{

  }

  .summary{
    .score{
        font-size: 2.2em;
        margin-left: 0.2em;
    }
  }

  .quote .lead{
    font-size: 1.3em;
    margin-bottom: 0;
  }

  .see-all em{
    margin: 0 0.3em 0 0.1em
  }

}

.reddit-links{
  h3{
    margin:0.5em 0 1.7em 0;
  }
}

.vcenter{
  display: inline-block;
  vertical-align: middle;
}