<div class="row">

	<div class="col-md-8 col-md-offset-2">
		<div class="panel panel-default">
		  <div class="panel-heading">
		    <h3 class="panel-title">Registration</h3>
		  </div>
		  <div class="panel-body text-center">
		    <div><%= image_tag("ahouse.jpg", size: "460x276", alt: "TOGA TOGA!") %></div>
		    <em>Registrations are currently closed</em>
		  </div>
		</div>
	</div>

</div>
